.fundo {
    position: relative;
    width: 100%;
    height: 100%;
  }

.logo {
    position: absolute;
    top: 12px;
    left: 3%;
    width: 300px;
    height: 90px;
    font-size: 10px;
    background-color: rgb(104, 104, 104);
    opacity: 80%;
}

.triangulos{
  width: 100%;
  height: 80%;
}

.conteudo-fundo{
  position: absolute;
  width: 100%;
  height: 1700px;
  left: 0;
  top: 70%;
  background: #4F4F4F;
  box-sizing: border-box;
  border: 1px solid #2B2B2B;
}

.rodape{
  position: relative;
  width: 100%;
  height: 160px;
  top: 1280px;
  background: #2C2C2C;
  box-sizing: border-box;
  border: 1px solid #2B2B2B;
}

.logo-rodape{
  vertical-align: center;
  margin-top: 2%;
  margin-left: 40%;
  height: 50px;
}

.info-rodape{
  text-align:center;
  font-size: 16px;
  color: #EEEEEE;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1%;
}

.caixa-login{
  border-radius: 2%;
  position: absolute;
  border: 3px solid #FF7222;
  background-color: #5A5A5A;
  height: 65%;
  width: 22%;
  left: 70%;
  font-family: Arial, Helvetica, sans-serif;
  color: #EEEEEE;
  font-size: 18px;
  top: 20%;
}

.int-login{
  margin: 15%;
}

.login{
  font-size: 26px;
  margin-top: 10%;
  text-decoration: underline #FF7222;
}

.compo-login{
  margin-top: 10%;
}

.caixa-texto{
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
}

.compo-login{
  margin-top: 10%;
}

.botao-login{
  background-color: #1C1C1C;
  color: #EEEEEE;
  font-size: 16px;
  padding: 3% 4% 3% 4%;
  border-radius: 3px;
  border: none;
  margin-left: 32%;
  margin-top: 10%;
}

.botao-login:hover{
  color: #FF7222;
}

.sobre{
  position: absolute;
  width: 90%;
  height: 80%;
  top: 100%;
}

.titulo{
  position: absolute;
  font-size: 45px;
  font-family: Andale Mono, monospace;
  color: #EEEEEE;
  text-decoration: underline #FF7222;
  vertical-align: center;
  margin: 8% 0 0 20%;
  width: 50%;
}

.conteudo{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #EEEEEE;
  margin-left: 40%;
  text-align: right;
}

.conteudo2{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #EEEEEE;
  text-decoration: none;
  margin-left: 15%;
  text-align: left;
  margin-top: 1%;
  height: 630px;;
  width: 1120px;
}
.line{
  border-top: #FF7222 2px solid;
  margin-left: 12%;
  margin-top: 14%;
}
.line2{
  border-top: #FF7222 2px solid;
  margin-left: 12%;
  margin-top: 25%;
}

iframe{
  width: 80%;
  height: 80%;
}

.carrossel{
  margin-left: 3%;
  margin-top: 22%;
  width: 1120px;
  height: 630px;
}

.carousel-indicators{
  margin-bottom: 8%;
  padding-right: 15%;
}

.carousel-control-prev{
  margin-top: 10%;
}

.carousel-control-next{
  margin-top: 10%;
  margin-right: 15%;
}